# ignore build files

Temp/


# ignore .vs B.S.

"*.vs"
"Source/Snake/sln/.vs/*"
#ignore intermediate files
"*.ilk"
"*.pdb"
"*.obj"
"*.tlog"
"*.CppClean"
"*.FileListAbsolute"
"*.idb"
"*.iobj"
"*.ipdb"
"*.opendb"

#ignore exe files
"*.exe"
